.navbar {
    background-color: rgb(94, 171, 194) !important;
}

.logo {
    margin-left: 10px;
    width: 70px !important;
    height: 40px !important;
}

.card{
    margin-left: 7%;
    margin-top: 5%;


}

.card2{
    margin-left: 7%;
    margin-top: 5%;
}



.card3{
    margin-left: 7%;
    margin-top: 5%;
}
